<md-content flex>
  <div layout="row" layout-fill>
    <div flex="100" layout="column">
      <md-content flex>

        <div layout-gt-sm="row" layout="column">
          <div flex-gt-sm="50" flex="">
              <md-input-container layout="row" class="md-block" flex-gt-xs>
                <label>Titulo del libro</label>
                <input ng-model="vm.query.search" ng-change="vm.search_books()">
              </md-input-container>
          </div>
          <div>
<!--            <span style="padding: 50px;">tambien</span>-->
          </div>
          <div flex-gt-sm="50" flex="">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Codigo o inventario</label>
              <input ng-model="vm.query.search" ng-change="vm.search_ejemplares()">
            </md-input-container>
          </div>
        </div>

        <md-table-pagination md-limit="vm.query.limit" md-limit-options="[20, 25, 30]" md-page="vm.query.page" md-total="{{vm.total}}" md-on-paginate="vm.on_pagination" md-page-select></md-table-pagination>
        <div ng-if="vm.books.length == 0" class="wargos-text-align">
          <b>No existe <i>libros</i> registrados</b>
        </div>
        <md-list>
          <md-list-item ng-repeat="book in vm.books">
            <ng-md-icon icon="book"></ng-md-icon>
            <p>{{book.title}} {{item.data.code_material}} Ej.{{item.order}}</p>
            <md-button class="md-raised md-primary" type="submit">
              Reservar
            </md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</md-content>


