<md-content flex>
  <div layout="row">
    <span flex></span>
    <input class="wargos-inventory" type="number" ng-model="vm.select.start">
    <input class="wargos-inventory" type="number" ng-model="vm.select.end">
    <md-button type="submit" class="md-raised" ng-click="vm.search()">Buscar</md-button>
  </div>
  <div>
    <md-input-container class="md-block" flex-gt-xs>
      <label>Codigo o inventario</label>
      <input ng-model="vm.query.search" ng-change="vm.search_ejemplares()">
    </md-input-container>
  </div>
  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[40, 50, 60]" md-page="vm.query.page" md-total="{{vm.total}}" md-on-paginate="vm.on_pagination" md-page-select></md-table-pagination>
  <div ng-if="vm.items.length == 0" class="wargos-text-align">
    <b>No existe <i>ejemplares</i> registrados</b>
  </div>
  <md-list>
    <md-list-item ng-repeat="item in vm.items" ng-click="vm.select_item(item)">
      <ng-md-icon icon="book"></ng-md-icon>
      <p>
        <b class="wargos-list-inventory">{{item.inventory}}</b>
        <b class="wargos-list-code">{{item.data.code_material}} {{item.data.code_author}} Ej. {{item.order}}</b>
        <b class="wargos-list-year">{{item.data.year}}</b>
        {{item.data.title}}
      </p>
      <div class="md-secondary">
        {{item.created | date: 'dd-MM-yyyy'}}
      </div>
  </md-list>
</md-content>
<style media="screen">
.wargos-inventory {
    margin: 6px;
    padding: 6px;
    height: 17px;
    font-size: 18px;
}
.wargos-list-inventory {
  width: 40px;
  font-size: 11px;
  display: inline-block;
}
.wargos-list-code {
  width: 180px;
  font-size: 13px;
  display: inline-block;
}
.wargos-list-year {
  width: 40px;
  display: inline-block;
}
</style>
