<form layout="column" name="form" ng-submit="vm.update(vm.item)" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        Actualizar editorial
      </h1>
      <span flex></span>
      <md-button type="submit" class="md-raised">Actualizar</md-button>
      <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open demo menu"
                   class="md-icon-button"
                   ng-click="vm.openMenu($mdOpenMenu, $event)">
          <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item ng-click="vm.delete(vm.item)">
            <md-button>
              <ng-md-icon icon="delete"></ng-md-icon>
              Eliminar
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <div>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Nombre</label>
        <input ng-model="vm.item.name" md-maxlength="100">
        <div ng-messages="form.name.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Ciudad</label>
        <input ng-model="vm.item.city" md-maxlength="100">
        <div ng-messages="form.city.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Nacionalidad</label>
        <md-select ng-model="vm.item.country">
          <md-option ng-repeat="country in vm.countries" ng-value="country.key">
            {{country.value}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </md-content>
</form>
