<div layout="row" layout-fill>
  <md-sidenav layout="column"
              class="md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
      <div class="md-toolbar-tools">
        <h3>
          Lagash
        </h3>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="more">
          <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
      </div>
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <user-avatar></user-avatar>
        <span></span>
        <div>{{vm.user.name}}</div>
        <div>{{vm.user.email}}</div>
      </div>
    </md-toolbar>
    <md-content flex>
      <md-list>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Materiales bibliograficos</md-subheader>
        <md-list-item ng-repeat="option in vm.options" ng-click="vm.selectOption(option)">
           <ng-md-icon icon="{{option.icon}}"></ng-md-icon>
           <p>{{option.title}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Personas o Casa editorial</md-subheader>
        <md-list-item ng-repeat="reference in vm.references" ng-click="vm.selectOption(reference)">
           <ng-md-icon icon="{{reference.icon}}"></ng-md-icon>
           <p>{{reference.title}}</p>
        </md-list-item>
        <md-subheader class="md-no-sticky">Reportes</md-subheader>
        <md-list-item ng-repeat="config in vm.reports" ng-click="vm.selectOption(config)">
          <ng-md-icon icon="{{config.icon}}"></ng-md-icon>
          <p>{{config.title}}</p>
        </md-list-item>
        <md-subheader class="md-no-sticky">Administración</md-subheader>
        <md-list-item ng-repeat="config in vm.configurations" ng-click="vm.selectOption(config)">
          <ng-md-icon icon="{{config.icon}}"></ng-md-icon>
          <p>{{config.title}}</p>
        </md-list-item>
        <md-list-item ng-click="vm.logout()">
          <ng-md-icon icon="logout"></ng-md-icon>
          <p>Cerrar session</p>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </md-content>
  </md-sidenav>

  <ui-view layout="column" layout-fill>
    <div flex layout="column">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3>
            Lagash
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="more">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content flex>
      </md-content>
    </div>
  </ui-view>
</div>
