body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}
.wargos-list-tesis-code {
  min-width: 40px;
  display: inline-block;
}
.wargos-code {
    margin: 6px;
    padding: 6px;
    height: 17px;
    font-size: 22px;
}
.wargos-inventory {
    margin: 6px;
    padding: 6px;
    height: 17px;
    font-size: 22px;
}
.wargos-list-inventory {
  width: 70px;
  display: inline-block;
}
.wargos-list-code {
  width: 120px;
  display: inline-block;
}
.wargos-list-year {
  width: 40px;
  display: inline-block;
}
.wargos-list-code-full {
  width: 300px;
  display: inline-block;
}
.lagash-report-100 {
  width: 100px;
  display: inline-block;
}
.lagash-report-150 {
  width: 150px;
  font-size: 13px;
  display: inline-block;
}
.lagash-report-200 {
  width: 200px;
  font-size: 13px;
  display: inline-block;
}
.lagash-report-250 {
  width: 250px;
  font-size: 13px;
  display: inline-block;
}
.lagash-report-300 {
  width: 300px;
  font-size: 13px;
  display: inline-block;
}
.lagash-report-400 {
  width: 400px;
  display: inline-block;
}
.lagash-report-type {
  width: 85px;
  font-size: 12px;
  display: inline-block;
}
.lagash-report-code {
  width: 200px;
  font-size: 12px;
  display: inline-block;
}
.lagash-report-reader {
  width: 200px;
  font-size: 11px;
  display: inline-block;
  text-align: center;
}
.lagash-report-date {
  font-size: 9px;
}
.lagash-report-warning {
  background-color: yellow;
}
.lagash-report-danger {
  background-color: red;
}
