.wargos-list-tesis-code {
  min-width: 40px;
  display: inline-block;
}
.wargos-code {
    margin: 6px;
    padding: 6px;
    height: 17px;
    font-size: 22px;
}
.wargos-inventory {
    margin: 6px;
    padding: 6px;
    height: 17px;
    font-size: 22px;
}
.wargos-list-inventory {
  width: 70px;
  display: inline-block;
}
.wargos-list-code {
  width: 120px;
  display: inline-block;
}
.wargos-list-year {
  width: 40px;
  display: inline-block;
}
.wargos-list-code-full {
  width: 300px;
  display: inline-block;
}
.lagash-report-100 {
  width: 100px;
  display: inline-block;
}
.lagash-report-150 {
  width: 150px;
  display: inline-block;
}
.lagash-report-200 {
  width: 200px;
  display: inline-block;
}
.lagash-report-300 {
  width: 300px;
  display: inline-block;
}
.lagash-report-400 {
  width: 400px;
  display: inline-block;
}
