<form layout="column" name="form" ng-submit="vm.register(vm.item)" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        Nuevo reader
      </h1>
      <span flex></span>
      <md-button type="submit" class="md-raised">Aceptar</md-button>
      <md-button class="md-icon-button" aria-label="more">
        <ng-md-icon icon="more_vert"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <div>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Nombre</label>
        <input required ng-model="vm.item.first_name" md-maxlength="100">
        <div ng-messages="form.first_name.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>apellido</label>
        <input required ng-model="vm.item.last_name" md-maxlength="100">
        <div ng-messages="form.last_name.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Facultad</label>
        <md-select ng-model="vm.item.faculty_id">
          <md-option ng-repeat="faculty in vm.faculties" ng-value="faculty._id">
            {{faculty.name}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Carrera</label>
        <md-select ng-model="vm.item.career_id">
          <md-option ng-if="vm.item.faculty_id === carrer.faculty_id" ng-repeat="carrer in vm.carrers" ng-value="carrer._id">
            {{carrer.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Credencial</label>
        <md-select ng-model="vm.item.card_type">
          <md-option ng-repeat="card in vm.cards" ng-value="card.key">
            {{card.value}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Numero de indentificador</label>
        <input required ng-model="vm.item.card_id" md-maxlength="100">
        <div ng-messages="form.card_id.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Semestre</label>
        <md-select ng-model="vm.item.semester">
          <md-option ng-repeat="semester in vm.semesters" ng-value="semester">
            {{semester}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <md-content class="wargos-text-align wargos-image">
      <div>
        <img class="md-card-image" ng-if="vm.item.image" ng-src="{{vm.ImageService.getPath(vm.item.image)}}"/>
      </div>
      <button type="button" ngf-select="vm.upload($file)">Cargar una foto</button>
    </md-content>
  </md-content>
</form>
