<!-- <md-dialog aria-label="Message" style="width: 500px">
  <form ng-cloak ng-submit="answer(item)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Crear editorial</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
          <ng-md-icon icon="close"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nombre</label>
          <input ng-model="item.name" md-maxlength="100">
          <div ng-messages="form.name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Ciudad</label>
          <input ng-model="item.city" md-maxlength="100">
          <div ng-messages="form.city.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nacionalidad</label>
          <md-select ng-model="item.country">
            <md-option ng-repeat="country in countries" ng-value="country.key">
              {{country.value}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        cancelar
      </md-button>
      <md-button class="md-raised md-primary" type="submit">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog> -->
