<form layout="column" name="form" ng-submit="vm.update(vm.item)" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>
        Actualizar revistas
      </h1>
      <span flex></span>
      <md-button type="submit" class="md-raised">Actualizar</md-button>
      <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open demo menu"
                   class="md-icon-button"
                   ng-click="vm.openMenu($mdOpenMenu, $event)">
          <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item ng-click="vm.delete(vm.item)">
            <md-button>
              <ng-md-icon icon="delete"></ng-md-icon>
              Eliminar
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <md-content flex>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="ejemplares">
        <div layout-padding>
          <h1>
            {{vm.item.title}}
          </h1>
          <div layout="row">
            <span flex></span>
            <input class="wargos-code" type="text" placeholder="Codigo dewey" ng-model="vm.item.code_material">
            <input class="wargos-code" type="text" placeholder="Codigo autor" ng-model="vm.item.code_author">
            <md-button type="button" class="md-raised" ng-click="vm.update_code(vm.item)">Guardar</md-button>
          </div>
        </div>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h1>
              Ejemplar ({{vm.ejemplares.length}})
            </h1>
            <span flex></span>
            <md-button aria-label="Open demo menu"
                       class="md-icon-button"
                         ng-click="vm.create_ejemplar()">
              <ng-md-icon icon="add"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content ng-if="vm.create_ejemplar_state">
          <div>
            <h1 style="text-align: center;">
              {{vm.item.code_material}} {{vm.item.code_author}} {{vm.ejemplar_item.suffix}} Ej.{{vm.ejemplar_item.order}}
            </h1>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Inventario</label>
              <input required ng-model="vm.ejemplar_item.inventory" type="number">
              <div ng-messages="form.inventory.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Sufijo</label>
              <input required ng-model="vm.ejemplar_item.suffix" md-maxlength="10">
              <div ng-messages="form.suffix.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Ejemplar</label>
              <input ng-model="vm.ejemplar_item.order" md-maxlength="10" class="md-secondary">
              <div ng-messages="form.index.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <div flex></div>
            <md-button class="md-raised md-primary md-secondary"
                       ng-click="vm.save_ejemplar(vm.ejemplar_item)">
              Crear nuevo ejemplar
            </md-button>
          </div>
        </md-content>
        <md-content>
          <md-list class="md-dense">
            <md-list-item class="md-2-line"
                          ng-repeat="ejemplar in vm.ejemplares"
                          ng-click="vm.select_ejemplar(ejemplar)">
              <div class="md-list-item-text">
                <h3>{{vm.item.code_material}} {{vm.item.code_author}} {{ejemplar.suffix}} Ej.{{ejemplar.order}}</h3>
                <p><b>Ejemplar:</b> {{ejemplar.order}} <b>Inventario:</b> {{ejemplar.inventory}}</p>
              </div>
              <md-switch class="md-secondary"
                         ng-model="ejemplar.enabled"
                         ng-change="vm.change_ejemplar_state(ejemplar)"></md-switch>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="general">
        <div layout-padding>
          <md-content>
            <md-input-container class="md-block" flex-gt-xs>
              <label>UUID</label>
              <input required ng-model="vm.item._id" disabled md-maxlength="36">
              <div ng-messages="form._id.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Titulo</label>
              <input required ng-model="vm.item.title" md-maxlength="300">
              <div ng-messages="form.title.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Descriptores</label>
              <md-chips ng-model="vm.item.tags" readonly="false" md-removable="true"></md-chips>
            </md-input-container>
          </md-content>
        </div>
      </md-tab>
      <md-tab label="detalle">
        <div layout-padding>
          <md-content>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Mes</label>
              <md-select ng-model="vm.item.month">
                <md-option ng-repeat="month in vm.months" ng-value="month.key">
                  {{month.value}}
                </md-option>
              </md-select>
            </md-input-container>
            <div layout="row">
              <md-input-container class="md-block" flex="50">
                <label>Pages</label>
                <input ng-model="vm.item.pages" type="number">
                <div ng-messages="form.pages.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex="50">
                <label>Año</label>
                <md-select ng-model="vm.item.year">
                  <md-option ng-repeat="year in vm.years" ng-value="year.key">
                    {{year.value}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Precio</label>
              <input ng-model="vm.item.price" type="number">
              <div ng-messages="form.price.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Edicion</label>
              <input ng-model="vm.item.edition" type="number">
              <div ng-messages="form.edition.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </md-content>
        </div>
      </md-tab>
      <md-tab label="Catalogo">
        <div layout-padding>
          <md-content>
            <md-list>
              <md-list-item ng-if="vm.catalog">
                <ng-md-icon icon="list"></ng-md-icon>
                <p>{{vm.catalog.title}}</p>
                <md-button class="md-icon-button" aria-label="delete" ng-click="vm.remove_catalog(vm.catalog)">
                  <ng-md-icon icon="delete"></ng-md-icon>
                </md-button>
              </md-list-item>
            </md-list>
            <div layout="row" layout-align="end">
              <md-button aria-label="editorial"
                         class="md-raised md-primary"
                         ng-click="vm.show_catalog_search_dialog($event)">
                <ng-md-icon icon="search"></ng-md-icon>
                Buscar catalogo
              </md-button>
            </div>
          </md-content>
        </div>
      </md-tab>
      <md-tab label="Imagen">
        <div layout-padding>
          <md-content class="wargos-text-align wargos-image">
            <img class="md-card-image" ng-if="vm.item.image" ng-src="{{vm.ImageService.getPath(vm.item.image)}}" />
            <button type="button" ngf-select="vm.upload($file)">Cargar una foto</button>
          </md-content>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</form>
