<md-content flex>
  <div>
    <md-input-container class="md-block" flex-gt-xs>
      <label>Nombre del lector</label>
      <input ng-model="vm.query.search" ng-change="vm.search_ejemplares()">
    </md-input-container>
  </div>
  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[40, 50, 60]" md-page="vm.query.page" md-total="{{vm.total}}" md-on-paginate="vm.on_pagination" md-page-select></md-table-pagination>
  <div ng-if="vm.items.length == 0" class="wargos-text-align">
    <b>El historial <i>esta vacio</i></b>
  </div>
  <md-list>
    <md-list-item ng-repeat="item in vm.items">
      <ng-md-icon icon="book"></ng-md-icon>
      <p>
        <b class="lagash-report-100">{{vm.i18n[item.type]}}</b>
        <b class="lagash-report-200">{{item.code}}</b>
        <b class="lagash-report-300">{{item.name}}</b>
        <span><i>{{item.data.title}}</i></span>
      </p>
      <div class="md-secondary">
        <small><b>{{item.created | date: 'mm:HH dd-MM-yyyy'}}</b></small>
        <b>{{vm.states[item.state].value}}</b>
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open demo menu"
                     class="md-icon-button"
                     ng-click="vm.openMenu($mdOpenMenu, $event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item ng-click="vm.select_item(item)">
              <md-button>
                <ng-md-icon icon="book"></ng-md-icon>
                Ir al recurso bibliografico
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-list-item>
  </md-list>
</md-content>
